# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Project


# Editor
.idea/

# Scrapy stuff:
.scrapy

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# log
*.log


